# Unity и тяжелые ассеты
/[Aa]ssets/Fantasy knight/

# Стандартный игнор для Unity
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Уу]serSettings/
/[Mm]emoryCaptures/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.opendb
*.IDB
*.VC.db

# Настройки ОС
.DS_Store
Thumbs.db
